# Cloudflare Configuration
REACT_APP_CF_ACCOUNT_ID=9c68e56dc78a0135ceb29ae577eee421
REACT_APP_STREAM_VIDEO_ID=9c68e56dc78a0135ceb29ae577eee421

# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyD-Nw0Ao5mYE85ogn1Oy3Dg6UsYoHS6v1wy
REACT_APP_FIREBASE_AUTH_DOMAINclipt-chat.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https:/clipt-chat.firebaseio.com
REACT_APP_FIREBASE_PROJECT_ID=clipt-chat
REACT_APP_FIREBASE_STORAGE_BUCKET=clipt-chat.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=229280862305
REACT_APP_FIREBASE_APP_ID=1:229280862305:web:c4d47d1f1f8e2585731a20
